{
  "root": true,
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "plugins": [],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "printWidth": 120,
        "tabWidth": 2,
        "singleQuote": true,
        "arrowParens": "avoid",
        "endOfLine": "auto"
      }
    ],
    "@typescript-eslint/naming-convention": "warn"
  },
  "ignorePatterns": ["node_modules", "build", "dist", "public"],

  "overrides": [
    {
      "files": ["**/*.+{js|jsx}"]
    },
    {
      "files": ["**/*.json", "**/*rc"],
      "extends": ["plugin:json/recommended"]
    },
    {
      "files": ["**/__tests__/**/*", "**/*.{spec,test}.*"],
      "env": {
        "jest/globals": true
      },
      "plugins": ["jest", "testing-library"],
      "extends": ["plugin:jest/recommended", "plugin:jest-dom/recommended", "plugin:testing-library/react"]
    }
  ]
}
